server:
  bind:
    host: 0.0.0.0
    port: 5000
  url: http://localhost:5000
  mimetype: application/json; charset=UTF-8
  encoding: utf-8
  gzip: false
  languages:
    - en-US
  # cors: true
  pretty_print: true
  limit: 10
    # templates:
  # path: /path/to/Jinja2/templates
  # static: /path/to/static/folder # css/js/img
  map:
    url: https://tile.openstreetmap.org/{z}/{x}/{y}.png
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  manager:
    name: pygeoapi_prefect.manager.PrefectManager
    connection:
    output_dir: /tmp/
  # ogc_schemas_location: /opt/schemas.opengis.net

logging:
  level: DEBUG
  #logfile: /tmp/pygeoapi.log

metadata:
  identification:
    title:
      en: pygeoapi default instance
    description:
      en: pygeoapi provides an API to geospatial data
    keywords:
      en:
        - geospatial
        - data
        - api
    keywords_type: theme
    terms_of_service: https://creativecommons.org/licenses/by/4.0/
    url: https://example.org
  license:
    name: CC-BY 4.0 license
    url: https://creativecommons.org/licenses/by/4.0/
  provider:
    name: Organization Name
    url: https://pygeoapi.io
  contact:
    name: Lastname, Firstname
    position: Position Title
    address: Mailing Address
    city: City
    stateorprovince: Administrative Area
    postalcode: Zip or Postal Code
    country: Country
    phone: +xx-xxx-xxx-xxxx
    fax: +xx-xxx-xxx-xxxx
    email: you@example.org
    url: Contact URL
    hours: Mo-Fr 08:00-17:00
    instructions: During hours of service. Off on weekends.
    role: pointOfContact

resources:
  hello-world:
    type: process
    processor:
      name: HelloWorld

  hi-prefect-world:
    type: process
    processor:
      name: pygeoapi_prefect.examples.hi_prefect_world.HiPrefectWorldProcessor
      prefect:
        deployment:
          name: minio
          queue: test
          storage-block: remote-file-system/test-sb1
          storage-path: hi-prefect-world-flow
